PULL_TO_REFRESH: "משוך לעדכן!"
RETRY: "נסה שוב"
CANCEL: "ביטול"
SUBMIT: "שלח"
BACK: "חזור"
ERROR: "משהו השתבש. אנא נסה שנית"
ATTEMPT_TO_CONNECT: "ניסיון התחברון {{attempt}} מתוך {{attemptMax}}."
OK: "אוקי"
YES: "כן"
NO: "לא"
EMPTY_LIST: "אין תוכן"
MENU: "תפריט"
TAGS: "תגיות"
PAGES: "עמודים"
POSTS: "פוסטים"
AUTHORS: "מחברים"
SEARCH: "חיפוש"
SEARCH_START: "הקלד..."
SOCIAL_NETWORKS: "רשתות חברתיות"
CATEGORIES: "קטגוריות"
SETTINGS: "אפשרויות"
ZOOM: "זום"
FEATURED: "מובלט"
OPEN_IN_BROWSER: "פתח בדפדפן"
ABOUT: "אודות"
COMMENTS: "הערות"

CUSTOM_POSTS: "פוסטים מותאמים אישית"
CUSTOM_TAXO: "טקסונומיות מותאמות אישית"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"

PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "תוכן חדש!"
PUSH_NOTIF_TEXT: "תוכן חדש נוסף לאפליקציה. לחץ לפתיחה: '{{postTitle}}'"

BOOKMARKS: "סימניות"
BOOKMARKS_EMPTY: "אין סימניות"
BOOKMARK_ADDED: "סימניה נוספה"
BOOKMARK_REMOVED: "סימניה הוסרה"

CACHE_CLEAR: "נקה זיכרון מטמון (קאש)"
CACHE_CLEAR_PROMPT: "זיכרון המטמון ימחק עד לפעם הבאה שתוריד תוכן"
CACHE_CLEARED: "זיכרון מטמון נמחק"

TITLE_TAGS: "תגיות"
TITLE_TAG: "תג: {{name}}"
TITLE_CATEGORIES: "קטגוריות"
TITLE_CATEGORY: "קטגוריה: {{name}}"
TITLE_HOME: "בית"
TITLE_SEARCH: "חיפוש"
TITLE_PAGES: "עמודים"
TITLE_POSTS: "פוסטים"
TITLE_USERS: "מחברים"
TITLE_USER: "מחבר"
TITLE_USER_POSTS: "מחבר: {{name}}"

SHARE_SUCCESS: "שותף!"
SHARE_ERROR: "שיתוף נכשל"

# CUSTOM NO NEED TO TRANSLATE IN OTHER LANGUAGES
TITLE_MOVIE: "סרטים"
TITLE_ACTOR: "שחקנים"